<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img id="First_Destination" src="../assets/image/Destination_1.webp">
    <h4>CN Tower</h4>
    <img id="Second_Destination" src="../assets/image/Destination_2.webp">
    <h4>Royal Ontario Museum</h4>
    <img id="Third_Destination" src="../assets/image/Destination_3.webp">
    <h4>Ripley’s Aquarium of Canada</h4>
    <img id="Fourth_Destination" src="../assets/image/Destination_4.webp">
    <h4>Distillery Historic District</h4>
</body>
</html>