<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="review" routerLinkActive="active">Reviews</a>
    <a routerLink="destination" routerLinkActive="active">Destination</a>
    <a routerLink="signup" routerLinkActive="active">Signup</a>
    <a routerLink="contacts" routerLinkActive="active">Contact</a>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>